<div>
	<h2>Borrar una nota determinada</h2>
	<script></script>
	<form ng-submit="borrarNota(data)" name="formu" id="formu">
		<input type="text" name="notaNumeroBorrar" id="notaNumeroBorrar" placeholder="Numero de la nota a borrar" ng-model="data.notaNumeroBorrar"/>				
		</br></br>
		<ul class="actions">						
			<li><button class="button" type="submit">Borrar nota</button></li></br>
			<li>{{ text_deleted }}</li>			
		</ul>
	</form>
</div>
<hr />