<!DOCTYPE HTML>
<html>
	<head>
		<title>Twitter del futuro</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-route.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.2.1.js"
			integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
 			crossorigin="anonymous"></script>
		<script src="main.js"></script>		
	</head>
	<body class="is-loading" ng-app="myApp">

			<div id="wrapper">

					<section id="main">
						<heade ng-controller="mainController">
							<span class="avatar"><img src="images/delorean.jpg" alt="" width=30%/></span>
							<h1>Twitter del futuro</h1>
							<p>{{ dataUser.alias_user }}</p>
							<hr />
						</header>

						<h2>Menu de Usuario</h2>
						<ul class="actions">
							<li><a href="#/newNote" class="button">Crear nota</a></li></br></br>
							<li><a href="#/allNotes" class="button">Mostrar todas las notas</a></li></br></br>
							<li><a href="#/oneNoteDet" class="button">Mostrar una nota </a></li>	</br></br>
							<li><a href="#/deleteNote" class="button">Borrar una nota</a></li></br></br>
							<li><a href="#/newFav" class="button">Marcar favorita </a></li>	</br></br>
							<li><a href="#/allFavs" class="button">Mostrar todas las favoritas</a></li></br></br>
						</ul>
						
						<hr />
						
						<div>
							<div ng-view></div>						
						</div>						
						
						<footer>
							<ul class="actions">
								<li><a href="index.html" class="button">Volver</a></li>
							</ul>
						</footer>

					</section>

				<!-- Footer -->
					<footer id="footer">
						<ul class="copyright">
							<li>&copy; Miguel Ángel Gómez Baena</li><li>Aplicación para ROOTS</li>
						</ul>
					</footer>
			</div>

			<script>
				if ('addEventListener' in window) {
					window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-loading\b/, ''); });
					document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
				}
			</script>

	</body>
</html>
