<div>
	<h2>Marcar nota como favorita</h2>
	<script></script>
	<form ng-submit="marcarFav(data)" name="formu" id="formu">
		<input type="text" name="notaNumero" id="notaNumero" placeholder="Numero de la favorita" ng-model="data.favNumber"/>		
		Si la nota ya esta marcada como favorita, se eliminara esta seleccion
		</br></br>
		<ul class="actions">						
			<li><button class="button" type="submit">Marcar favorita</button></li></br>
			<li>{{ mensaje }}</li>			
		</ul>
	</form>
</div>
<hr />