<div>
	<h2>Crear nueva nota</h2>
	<script></script>
	<form ng-submit="crearNota(data)" name="formu" id="formu">
		<textarea rows="4" cols="50" placeholder="inserta nueva nota" name="texto" id="texto" ng-model="data.texto"></textarea>		
		</br>
		<ul class="actions">						
			<li><button class="button" type="submit">Crear nota</button></li></br></br>									
		</ul>
	</form>
</div>
<hr />