<div>
	<h2>Mostrar nota Determinada</h2>
	<script></script>
	<form ng-submit="mostrarNota(data)" name="formu" id="formu">
		inserta el numero en orden de la nota a mostrar				
		<input type="text" name="notaNumero" id="notaNumero" placeholder="numero" ng-model="data.notaNumero"/>
		</br>
		<ul class="actions">						
			<li><button class="button" type="submit">Mostrar nota</button></li></br></br>	
			<li>{{ notaText }}</li></br></br>											
		</ul>
	</form>
</div>
<hr />